:root {
    --bg-color: #f5f5f5;
    --text-color: #7d6c74;
    --accent-color: #ffd333;
    --contrast-color: #3d464d;

}

html, body {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
/*=========================== General rules Общие правила====================================*/
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}

/*=========================== General rules Общие правила====================================*/


/*=========================== Header rules Общие правила====================================*/

ul.social-icons {
    list-style: none;

}










/*=========================== General rules Общие правила====================================*/
